<div class="container">
  <div class="row gy-4">
    {# citations #}
    <pre></pre>
    <hr />
    <h2 class="text-center">Quelques citations</h2>
    <div class="about-author col-12 padding-30 rounded">
        <div class="thumb text-center my-auto">
            <i class="fa fa-comment-dots fa-4x"></i>
        </div>
      <div class="details">
        <h4 class="name">
          <a href="#"
            >Joël Sternheimer, <br />Le Cahier du Collège International de
            Philosophie n° 3, mars 1987</a
          >
        </h4>
        <p>
          "Les relations d’incertitude associées à l’échelle signifient que la
          précision relative qu’il est possible d’obtenir sur une mesure
          d’impulsion ou d’énergie est d’autant plus fine que la portée de
          l’échelle est plus grande: il est donc effectivement nécessaire, si
          l’on veut pouvoir décrire les phénomènes avec une précision
          suffisante, de conserver une certaine portée à l’échelle, c’est-à-dire
          de ne pas détruire un niveau d’organisation pour accéder au niveau
          en-dessous, mais de préserver l’objet d’étude. Il est remarquable
          qu’un tel critère "éthique" se retrouve nécessité par le développement
          même de la connaissance".
        </p>
      </div>
    </div>
    <!-- 2ème citations -->
    <div class="about-author col-12 mx-auto padding-30 rounded">
        <div class="thumb text-center my-auto">
            <i class="fa fa-comment-dots fa-4x"></i>
        </div>
      <div class="details">
        <h4 class="name">
          <a href="#"
            >Gérard Huber, <br />in Psychanalyse à l’Université, juillet 1987</a
          >
        </h4>
        <p>
          "Une connaissance qui implique l’irrespect de l’objet scientifique
          finit toujours par trouver ses propres limites et produire une rupture
          entre la pratique du chercheur et son éthique".
        </p>
      </div>
    </div>

    <!-- 3ème citations -->
    <div class="about-author col-12 padding-30 rounded">
        <div class="thumb text-center my-auto">
            <i class="fa fa-comment-dots fa-4x"></i>
        </div>
      <div class="details">
        <h4 class="name">
          <a href="#"
            >Joël Sternheimer, <br />
            juin 1996</a
          >
        </h4>
        <p>
          "A mon sens, ce qui caractérise la démarche scientifique est avant
          tout un point de vue éthique: un chercheur se trouve face à un
          problème; mais la réponse qui pourrait venir à première vue pour ce
          problème nécéssiterait l’emploi de méthodes jugées non éthiques par sa
          conscience (parce que violentes, par exemple). A ce moment là, il a le
          choix: ou bien "passer outre" au nom d’une idéologie quelconque, qui
          peut même être celle du progrès des connaissances; ou bien, ce qui est
          à mes yeux l’essence de la démarche scientifique, ne pas passer outre
          et se creuser la tête. Selon toute mon expérience, et selon je crois
          aussi toute l’histoire des sciences lorsqu’on l’étudie un peu "à la
          loupe", c’est d’abord ainsi que les progrès scientifiques peuvent
          avoir lieu d’une manière qui fasse également progresser la société.
          Car c’est précisément le problème moral qui vient alors à la
          conscience du chercheur qui est le signe, "l’avertisseur" qu’il y a
          quelque chose à trouver, et que l’on peut justement trouver si on se
          "creuse la tête" face au problème ainsi perçu; tandis que "passer
          outre" est alors précisément passer à côté de la découverte qui
          constituerait un progrès réel".
        </p>
      </div>
    </div>
  </div>
</div>
