<!-- footer -->
	<footer class="footer sticky-bottom mt-3">
		<div class="container-fluid">
			<div class="footer-inner">
				<div class="container-xl">
					<div class="row d-flex align-items-center gy-4">
						<!-- copyright text -->
						<div class="col-md-4">
							<span class="copyright">© Tous droits réservés Genodics.</span>
						</div>
	
						<!-- social icons -->
						<div class="col-md-4 text-center">
							{% include "socialMedia.html.twig" %}
						</div>
	
						<!-- go to top button -->
						<div class="col-md-4">
							<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>Haut</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>