{% set titre = "404" %}
{% extends 'frontbase.html.twig' %} 
{% block title %}Genodics-404{% endblock%} 
{% block body %}

<!-- site wrapper -->
<div class="site-wrapper">
  <div class="main-overlay"></div>

  <!-- header -->
  {% include "headerBlanc.html.twig" %}

  <!-- page header -->
  <section class="page-header">
    <div class="container-xl">
      <div class="text-center">
        <h1 class="mt-0 mb-2">{{titre}}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="{{path('app_home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{titre}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  <!-- section main content -->
  <section class="main-content">
    <div class="container-xl">
      <div class="row">
     
        <div class="col-sm-12 mb-3 mx-auto">
          <!-- post -->
          <h1 class="text-center">Page non trouvée</h1>
          <p class="text-center">La page que vous cherchez n'a pas été trouvée</p>
        </div>
      
      </div>
    </div>
  </section>

  <!-- footer -->
  {% include "footer.html.twig" %}
</div>
<!-- end site wrapper -->

{% include "menu.html.twig" %} {% endblock %}
